.footer-section {
    background-color: #232a5c;
    background-size: cover;
  }
  @media (min-width: 992px) {
    .footer-section {
      position: relative;
    }
  }
  @media (max-width: 991px) {
    .footer-section .footer-top {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  @media (min-width: 992px) {
    .footer-section .footer-top {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 1;
    }
    .footer-section .footer-top .col-12 {
      border-left: 1px solid rgba(255, 255, 255, 0.1);
    }
    .footer-section .footer-top .col-12:last-child {
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
  .footer-section .footer-top .footer-top-item {
    padding: 15px;
  }
  @media (min-width: 1200px) {
    .footer-section .footer-top .footer-top-item {
      padding: 40px 20px;
    }
  }
  @media (max-width: 991px) {
    .footer-section .footer-top .footer-top-item {
      border: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
  .footer-section .footer-top .footer-top-item .lab-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  @media (min-width: 1200px) {
    .footer-section .footer-top .footer-top-item .lab-inner {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .footer-section .footer-top .footer-top-item .lab-inner .lab-thumb {
    margin-bottom: 15px;
  }
  @media (min-width: 1200px) {
    .footer-section .footer-top .footer-top-item .lab-inner .lab-thumb {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }
  .footer-section .footer-top .footer-top-item .lab-inner .lab-content {
    text-align: center;
  }
  .footer-section .footer-top .footer-top-item .lab-inner .lab-content span {
    color: #fff;
  }
  .footer-section .footer-middle {
    background-size: cover;
    background-position: center;
  }
  .footer-section .footer-middle .footer-middle-item-wrapper {
    z-index: 9;
  }
  .footer-section .footer-middle .footer-middle-item-wrapper .footer-middle-item {
    margin-bottom: 40px;
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item
    .fm-item-title
    h4 {
    margin-bottom: 25px;
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item
    .fm-item-content
    .footer-abt-img {
    margin-bottom: 15px;
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item
    .fm-item-content
    .fm-item-widget {
    margin-bottom: 12px;
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item
    .fm-item-content
    .fm-item-widget:last-child {
    margin-bottom: 0;
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item
    .fm-item-content
    .fm-item-widget
    .lab-inner {
    align-items: center;
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item
    .fm-item-content
    .fm-item-widget
    .lab-inner
    .lab-thumb {
    width: 80px;
    overflow: hidden;
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item
    .fm-item-content
    .fm-item-widget
    .lab-inner
    .lab-thumb
    a
    img {
    -webkit-transition: 0.3s all linear;
    -moz-transition: 0.3s all linear;
    transition: 0.3s all linear;
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item
    .fm-item-content
    .fm-item-widget
    .lab-inner
    .lab-content {
    width: calc(100% - 80px);
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item
    .fm-item-content
    .fm-item-widget
    .lab-inner
    .lab-content
    h6 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item
    .fm-item-content
    .fm-item-widget
    .lab-inner
    .lab-content
    p {
    margin: 0px;
    font-size: 0.875rem;
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item
    .fm-item-content
    .fm-item-widget:hover
    .lab-thumb
    a
    img {
    transform: scale(1.1) rotate(-5deg);
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item
    .fm-item-content
    .fm-item-widget:hover
    .lab-content
    h6 {
    color: #ff0052;
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item
    .match-social-list
    li {
    margin: 5px;
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item-3
    .fm-item-title
    h4 {
    margin-bottom: 25px;
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item-3
    .fm-item-content
    p {
    margin-bottom: 25px;
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item-3
    .fm-item-content
    form
    .form-group
    input {
    border: none;
    padding: 13px 15px;
    box-shadow: none;
    background: #232a5c;
    color: #fff;
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item-3
    .fm-item-content
    form
    .form-group
    input::placeholder {
    color: rgba(255, 255, 255, 0.85);
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item-3
    .fm-item-content
    form
    button,
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item-3
    .fm-item-content
    form
    .lab-btn {
    outline: none;
    border: none;
    margin-top: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 56px;
  }
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item-3
    .fm-item-content
    form
    button
    i,
  .footer-section
    .footer-middle
    .footer-middle-item-wrapper
    .footer-middle-item-3
    .fm-item-content
    form
    .lab-btn
    i {
    font-size: 24px;
    margin-left: 5px;
  }
  .footer-section .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer-section .footer-bottom .footer-bottom-content {
    padding: 38px 0;
  }
  .footer-section .footer-bottom .footer-bottom-content p {
    margin: 0;
  }
  .footer-section .footer-bottom .footer-bottom-content p a {
    color: #fff;
    font-weight: 500;
  }

  .container {
    max-width: 1170px;
    margin: 0 auto;
    padding-inline: 20px;
    width: 100%;
  }

  img {
    border-style: none;
    max-width: 100%;
    height: auto;
  }